@charset "utf-8";
/* CSS Document */

#paginainicio 
{background:#609}
#titulo
{background:#063; color:#03C}
#pienombre
{background:#669; color:#0CF}
#introduccion
{color:#FFC; size:3; text-align:justify;background:#06F;width:98%: margin:1%}
#FC BAYER MÜNCHEN
{background:#09F}
